geemap
geopandas
earthengine-api
geojson
google-cloud-bigquery
google-cloud-pubsub
pytest
pytest-mock
PyYAML
db-dtypes
fastapi
uvicorn[standard]
pydantic-settings # Explicitly add for clarity, though often included with pydantic